# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual environment
venv/
env/
ENV/

# Flask instance folder
instance/

# Environment variables
.env

# macOS
.DS_Store

# Firebase Admin SDK
firebase_adminsdk.json

# Solana keypairs
keys/*.json

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# Node modules (if you ever use npm frontend)
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
