.upload-container {
  padding: 40px;
  width: 70%;
  margin: auto;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #0081ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0064cc;
}
